In [1]:
import scanpy as sc;
import scrublet as scr
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import os
import pandas as pd
from scipy import io
import harmonypy
import scdrs
import scipy.stats as stats
np.random.seed(12345)
sc.settings.verbosity = 3             # verbosity: errors (0), warnings (1), info (2), hints (3)

In [2]:
# load the previous dataset which does not have the Visium images:
# load dataset
h5ad_file="/dfs7/swaruplab/smorabit/analysis/ADDS_2021/visium/human/data/ADDS_visium_scDRS.h5ad"
adata_seurat = sc.read(h5ad_file)
adata_seurat.obs.head()

,nCount_Spatial,Sample,Diagnosis,Sex,Age,seqbatch,annotation
AAACAAGTATCTCCCA-1_1_1,547,Oct_2021_1,Control,F,74,Oct_2021,WM3
AAACAATCTACTAGCA-1_1_1,242,Oct_2021_1,Control,F,74,Oct_2021,L1
AAACAGAGCGACTCCT-1_1_1,1602,Oct_2021_1,Control,F,74,Oct_2021,WM3
AAACATTTCCCGGATT-1_1_1,1025,Oct_2021_1,Control,F,74,Oct_2021,L5/6
AAACCACTACACAGAT-1_1_1,283,Oct_2021_1,Control,F,74,Oct_2021,L1

In [3]:
adata_seurat.obs.columns

Index(['nCount_Spatial', 'Sample', 'Diagnosis', 'Sex', 'Age', 'seqbatch',
       'annotation'],
      dtype='object')

In [4]:
adata_seurat.obs.seqbatch.unique()

['Oct_2021', 'Nov_24_2021', 'Dec_13_2021', 'Dec_20_2021']
Categories (4, object): ['Dec_13_2021', 'Dec_20_2021', 'Nov_24_2021', 'Oct_2021']

## Human visium



It seems like I will have to load everything from the spaceranger stage :(


### October 2021

In [10]:
# dictionary for storing the .uns
uns_dict = {}

In [11]:

# files
spaceranger_dir = '/dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/'
samples = os.listdir(spaceranger_dir)
h5ad_list = [spaceranger_dir + x + '/outs/' for x in samples]

# loop over each sample
adata_list = [] 
for i, cur_file in enumerate(h5ad_list):
    cur_adata = sc.read_visium(cur_file, count_file='raw_feature_bc_matrix.h5')

    cur_adata.obs['seqbatch'] = 'Oct_2021'
    cur_adata.obs['Sample'] = str(samples[i])
    cur_adata.obs['bc'] = [x.split('-')[0] for x in cur_adata.obs.index.to_list()]
    cur_adata.uns['title'] = samples[i]
    cur_adata.var_names_make_unique()
    uns_dict[str(i) + '-Oct_2021'] = cur_adata.uns
    cur_adata.obs['Sample_i'] = str(i)
    
    adata_list.append(cur_adata)

# combine
adata = adata_list[0].concatenate(adata_list[1:len(adata_list)])
adata.obs.head()

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/1/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/2/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/3/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/4/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/5/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/6/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/7/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/spaceranger_count/8/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1763: FutureWarning: The AnnData.concatenate method is deprecated in favour of the anndata.concat function. Please use anndata.concat instead.

See the tutorial for concat at: https://anndata.readthedocs.io/en/latest/concatenation.html
  warnings.warn(
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)

,in_tissue,array_row,array_col,seqbatch,Sample,bc,Sample_i,batch
AAACAACGAATAGTTC-1-0,0,0,16,Oct_2021,1,AAACAACGAATAGTTC,0,0
AAACAAGTATCTCCCA-1-0,1,50,102,Oct_2021,1,AAACAAGTATCTCCCA,0,0
AAACAATCTACTAGCA-1-0,1,3,43,Oct_2021,1,AAACAATCTACTAGCA,0,0
AAACACCAATAACTGC-1-0,0,59,19,Oct_2021,1,AAACACCAATAACTGC,0,0
AAACAGAGCGACTCCT-1-0,1,14,94,Oct_2021,1,AAACAGAGCGACTCCT,0,0

In [12]:
# load metadata
meta_file = "/dfs7/swaruplab/smorabit/data/ADDS_2021/visium/October_2021/visium_human_Oct_2021.csv"
meta_df = pd.read_csv(meta_file, sep=',', index_col=None)
#meta_df.rename(columns={'Sample_num' : 'Sample'})
meta_df['Sample_num'] = meta_df['Sample_num'].astype(str)
meta_df.head()
#meta_df.columns = ['SAMPLE', 'Condition', 'Age']
#meta_df.SAMPLE = meta_df.SAMPLE.astype('str')

,Sample_num,Case.Year,Case.Num,Diagnosis,Sex,Age,CaptureArea,Slide,Sectioning,LibraryDay1,LibraryDay2,Amp.Cycles,INDEX,Qubit.Concentration,Av.Library.bp,Initial nM,Sample (ul),H2O (ul)
0,1,1999,2,Control,F,74,A1,V10D07-124,9/20/21,9/24/21,10/5/21,14,E3,17.70,481,55.755056,2.2,22.8
1,2,2016,21,earlyAD,M,80,B1,V10D07-124,9/20/21,9/24/21,10/5/21,14,F3,24.00,473,76.878724,1.6,23.4
2,3,2017,13,AD,F,89,C1,V10D07-124,9/20/21,9/24/21,10/5/21,14,G3,17.70,478,56.104983,2.2,22.8
3,4,2015,2,AD_DS,M,43,D1,V10D07-124,9/20/21,9/24/21,10/5/21,13,H3,9.80,482,30.805985,4.1,20.9
4,5,1991,6,Control,M,79,A1,V10D07-125,9/23/21,10/4/21,10/5/21,15,A4,7.82,491,24.131334,5.2,19.8

In [13]:
# add the meta
temp = adata.obs.merge(
    meta_df,
    how = 'left',
    left_on = 'Sample',
    right_on = 'Sample_num'
)
temp.index = adata.obs.index

adata.obs['Diagnosis'] = temp['Diagnosis']
adata.obs['Age'] = temp['Age']
adata.obs['Sex'] = temp['Sex']

In [14]:
adata_oct = adata

### November batch

In [15]:

# files
spaceranger_dir = '/dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/'
samples = os.listdir(spaceranger_dir)
h5ad_list = [spaceranger_dir + x + '/outs/' for x in samples]

# loop over each sample
adata_list = [] 
for i, cur_file in enumerate(h5ad_list):
    cur_adata = sc.read_visium(cur_file, count_file='raw_feature_bc_matrix.h5')

    cur_adata.obs['seqbatch'] = 'Nov_24_2021'
    cur_adata.obs['Sample'] = samples[i]
    cur_adata.obs['bc'] = [x.split('-')[0] for x in cur_adata.obs.index.to_list()]
    cur_adata.uns['title'] = samples[i]

    cur_adata.var_names_make_unique()
    uns_dict[str(i) + '-Nov_24_2021' ] = cur_adata.uns
    cur_adata.obs['Sample_i'] = str(i)
    
    adata_list.append(cur_adata)

# combine
adata = adata_list[0].concatenate(adata_list[1:len(adata_list)])
adata.obs.head()

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_1/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_10/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_11/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_12/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_13/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_14/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_15/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_16/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_2/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_3/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_4/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_5/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_6/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_7/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_8/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/spaceranger_count/VisiumHuman_9/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1763: FutureWarning: The AnnData.concatenate method is deprecated in favour of the anndata.concat function. Please use anndata.concat instead.

See the tutorial for concat at: https://anndata.readthedocs.io/en/latest/concatenation.html
  warnings.warn(
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)

,in_tissue,array_row,array_col,seqbatch,Sample,bc,Sample_i,batch
AAACAACGAATAGTTC-1-0,1,0,16,Nov_24_2021,VisiumHuman_1,AAACAACGAATAGTTC,0,0
AAACAAGTATCTCCCA-1-0,0,50,102,Nov_24_2021,VisiumHuman_1,AAACAAGTATCTCCCA,0,0
AAACAATCTACTAGCA-1-0,1,3,43,Nov_24_2021,VisiumHuman_1,AAACAATCTACTAGCA,0,0
AAACACCAATAACTGC-1-0,1,59,19,Nov_24_2021,VisiumHuman_1,AAACACCAATAACTGC,0,0
AAACAGAGCGACTCCT-1-0,1,14,94,Nov_24_2021,VisiumHuman_1,AAACAGAGCGACTCCT,0,0

In [16]:
# load metadata
meta_file = "/dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Nov_24_2021/visium_human_11-24-21_sample_meta.csv"
meta_df = pd.read_csv(meta_file, sep=',', index_col=None)

#meta_df = meta_df.iloc[:8]
#meta_df = meta_df[['Unnamed: 0', 'SAMPLE', 'Condition', 'Sex', 'Age', 'CaptureArea', 'Slide', 'Sectioning', 'LibraryDay1', 'LibraryDay2', 'INDEX']]

#meta_df.columns = ['SAMPLE', 'Condition', 'Age']
#meta_df.SAMPLE = meta_df.SAMPLE.astype('str')
meta_df.head()

,LibraryName,Case.Year,Case.Num,Diagnosis,Sex,Age,CaptureArea,Slide,Sectioning,LibraryDay1,LibraryDay2,Amp.Cycles,INDEX,Qubit.Concentration,Av.Library.bp,Initial nM,Sample (ul),H2O (ul)
0,VisiumHuman_1,2008,18,Control,M,90,A1,V11A19-101,11/5/21,11/8/21,11/11/21,15,B8,28.20,522,81.853013,1.5,23.5
1,VisiumHuman_2,2015,53,earlyAD,F,87,B1,V11A19-101,11/5/21,11/8/21,11/11/21,14,B9,7.38,463,24.150795,5.2,19.8
2,VisiumHuman_3,2008,1,AD,F,90,C1,V11A19-101,11/5/21,11/8/21,11/11/21,15,B10,8.78,515,25.831127,4.8,20.2
3,VisiumHuman_4,2013,10,AD_DS,M,56,D1,V11A19-101,11/5/21,11/8/21,11/11/21,15,B11,17.00,512,50.307765,2.5,22.5
4,VisiumHuman_5,1996,34,Control,F,79,A1,V11A19-103,11/5/21,11/9/21,11/11/21,15,B12,16.40,515,48.249485,2.6,22.4

In [17]:
# add the meta
temp = adata.obs.merge(
    meta_df,
    how = 'left',
    left_on = 'Sample',
    right_on = 'LibraryName'
)
temp.index = adata.obs.index
temp.head() 
#temp = temp.drop(labels='LibraryID', axis=1)

adata.obs['Diagnosis'] = temp['Diagnosis']
adata.obs['Age'] = temp['Age']
adata.obs['Sex'] = temp['Sex']


#adata.obs = temp

In [18]:
adata_nov = adata

## December 13 batch

In [19]:

# files
spaceranger_dir = '/dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/'
samples = os.listdir(spaceranger_dir)
h5ad_list = [spaceranger_dir + x + '/outs/' for x in samples]

# loop over each sample
adata_list = [] 
for i, cur_file in enumerate(h5ad_list):
    cur_adata = sc.read_visium(cur_file, count_file='raw_feature_bc_matrix.h5')

    cur_adata.obs['seqbatch'] = 'Dec_13_2021'
    cur_adata.obs['Sample'] = samples[i]
    cur_adata.obs['bc'] = [x.split('-')[0] for x in cur_adata.obs.index.to_list()]
    cur_adata.uns['title'] = samples[i]

    cur_adata.var_names_make_unique()
    uns_dict[str(i) + '-Dec_13_2021' ] = cur_adata.uns
    cur_adata.obs['Sample_i'] = str(i)

    adata_list.append(cur_adata)

# combine
adata = adata_list[0].concatenate(adata_list[1:len(adata_list)])
adata.obs.head()

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/Human1/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/Human2/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/Human3/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/Human4/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/Human5/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/Human6/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/Human7/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/spaceranger_count/Human8/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1763: FutureWarning: The AnnData.concatenate method is deprecated in favour of the anndata.concat function. Please use anndata.concat instead.

See the tutorial for concat at: https://anndata.readthedocs.io/en/latest/concatenation.html
  warnings.warn(
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)

,in_tissue,array_row,array_col,seqbatch,Sample,bc,Sample_i,batch
AAACAACGAATAGTTC-1-0,0,0,16,Dec_13_2021,Human1,AAACAACGAATAGTTC,0,0
AAACAAGTATCTCCCA-1-0,1,50,102,Dec_13_2021,Human1,AAACAAGTATCTCCCA,0,0
AAACAATCTACTAGCA-1-0,1,3,43,Dec_13_2021,Human1,AAACAATCTACTAGCA,0,0
AAACACCAATAACTGC-1-0,1,59,19,Dec_13_2021,Human1,AAACACCAATAACTGC,0,0
AAACAGAGCGACTCCT-1-0,1,14,94,Dec_13_2021,Human1,AAACAGAGCGACTCCT,0,0

In [20]:
# load metadata
meta_file = "/dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_13_2021/visium_human_12-13-21_sample_meta.csv"
meta_df = pd.read_csv(meta_file, sep=',', index_col=None)
meta_df['LibraryName'] = 'Human' + meta_df['LibraryName'].astype(str)

meta_df.head()

,LibraryName,Case.Year,Case.Num,Diagnosis,Sex,Age,CaptureArea,Slide,Sectioning,LibraryDay1,LibraryDay2,Amp.Cycles,INDEX,Qubit.Concentration,Av.Library.bp,Initial nM,Sample (ul),H2O (ul)
0,Human1,1993,16,Control,F,64,A1,V11Y24-118,11/20/21,11/22/21,11/26/21,15,D12,15.70,501,47.480796,2.6,22.4
1,Human2,2017,9,earlyAD,M,87,B1,V11Y24-118,11/20/21,11/22/21,11/26/21,15,E7,17.50,513,51.686455,2.4,22.6
2,Human3,2018,22,AD,F,89,C1,V11Y24-118,11/20/21,11/22/21,11/26/21,14,E8,9.42,555,25.716626,4.9,20.1
3,Human4,2005,30,AD_DS,F,57,D1,V11Y24-118,11/20/21,11/22/21,11/26/21,14,E9,22.40,543,62.503488,2.0,23.0
4,Human5,1999,10,Control,M,70,A1,V11Y24-117,11/20/21,11/23/21,11/26/21,13,E10,16.80,567,44.893378,2.8,22.2

In [21]:
# add the meta
temp = adata.obs.merge(
    meta_df,
    how = 'left',
    left_on = 'Sample',
    right_on = 'LibraryName'
)
temp.index = adata.obs.index

adata.obs['Diagnosis'] = temp['Diagnosis']
adata.obs['Age'] = temp['Age']
adata.obs['Sex'] = temp['Sex']

In [22]:
adata_dec_13 = adata

## Dec 20

In [23]:

# files
spaceranger_dir = '/dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/spaceranger_count/'
samples = os.listdir(spaceranger_dir)
h5ad_list = [spaceranger_dir + x + '/outs/' for x in samples]

# loop over each sample
adata_list = [] 
for i, cur_file in enumerate(h5ad_list):
    cur_adata = sc.read_visium(cur_file, count_file='raw_feature_bc_matrix.h5')

    cur_adata.obs['seqbatch'] = 'Dec_20_2021'
    cur_adata.obs['Sample'] = samples[i]
    cur_adata.obs['bc'] = [x.split('-')[0] for x in cur_adata.obs.index.to_list()]
    cur_adata.uns['title'] = samples[i]

    cur_adata.var_names_make_unique()
    uns_dict[str(i) + '-Dec_20_2021'] = cur_adata.uns
    cur_adata.obs['Sample_i'] = str(i)

    adata_list.append(cur_adata)

# combine
adata = adata_list[0].concatenate(adata_list[1:len(adata_list)])
adata.obs.head()

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/spaceranger_count/Human1/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/spaceranger_count/Human2/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/spaceranger_count/Human3/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/spaceranger_count/Human4/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/spaceranger_count/Human5/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/spaceranger_count/Human7/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

reading /dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/spaceranger_count/Human8/outs/raw_feature_bc_matrix.h5
 (0:00:00)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1763: FutureWarning: The AnnData.concatenate method is deprecated in favour of the anndata.concat function. Please use anndata.concat instead.

See the tutorial for concat at: https://anndata.readthedocs.io/en/latest/concatenation.html
  warnings.warn(
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)

,in_tissue,array_row,array_col,seqbatch,Sample,bc,Sample_i,batch
AAACAACGAATAGTTC-1-0,0,0,16,Dec_20_2021,Human1,AAACAACGAATAGTTC,0,0
AAACAAGTATCTCCCA-1-0,0,50,102,Dec_20_2021,Human1,AAACAAGTATCTCCCA,0,0
AAACAATCTACTAGCA-1-0,0,3,43,Dec_20_2021,Human1,AAACAATCTACTAGCA,0,0
AAACACCAATAACTGC-1-0,0,59,19,Dec_20_2021,Human1,AAACACCAATAACTGC,0,0
AAACAGAGCGACTCCT-1-0,1,14,94,Dec_20_2021,Human1,AAACAGAGCGACTCCT,0,0

In [24]:
samples

['Human1', 'Human2', 'Human3', 'Human4', 'Human5', 'Human7', 'Human8']

In [25]:
# load metadata
meta_file = "/dfs7/swaruplab/smorabit/data/ADDS_2021/visium/Dec_20_2021/visium_human_12-20-21_sample_meta.csv"
meta_df = pd.read_csv(meta_file, sep=',', index_col=None)
#meta_df = meta_df[['SAMPLE', 'ID', 'Condition', 'Sex', 'Age', 'CaptureArea', 'Slide', 'Sectioning', 'LibraryDay1', 'LibraryDay2', 'INDEX', 'LibraryName']]

#meta_df.columns = ['SAMPLE', 'Condition', 'Age']
#meta_df.SAMPLE = meta_df.SAMPLE.astype('str')
meta_df.head()

,LibraryName,Case.Year,Case.Num,Diagnosis,Sex,Age,CaptureArea,Slide,Sectioning,LibraryDay1,LibraryDay2,Amp.Cycles,INDEX,Qubit.Concentration,Av.Library.bp,Initial nM,Sample (ul),H2O (ul)
0,Human1,1999,37,Control,F,74,A1,V11A13-390,11/28/21,11/29/21,12/7/21,15,G1,25.00,481.0,78.75007875,1.6,23.4
1,Human2,2011,24,earlyAD,M,86,B1,V11A13-390,11/28/21,11/29/21,12/7/21,15,G2,18.70,474.0,59.77496484,2.1,22.9
2,Human3,2015,37,AD,F,87,C1,V11A13-390,11/28/21,11/29/21,12/7/21,16,G3,6.42,478.0,20.34994294,6.1,18.9
3,Human4,2008,38,AD_DS,F,63,D1,V11A13-390,11/28/21,11/29/21,12/7/21,16,G4,15.20,487.0,47.29014996,2.6,22.4
4,Human5,1993,51,Control,M,73,A1,V11A06-319,11/28/21,11/30/21,12/7/21,16,G5,42.80,450.0,144.1077441,0.9,24.1

In [26]:
# add the meta
temp = adata.obs.merge(
    meta_df,
    how = 'left',
    left_on = 'Sample',
    right_on = 'LibraryName'
)
temp.index = adata.obs.index
#temp = temp.drop(labels='LibraryName', axis=1)
temp.head() 

adata.obs['Diagnosis'] = temp['Diagnosis']
adata.obs['Age'] = temp['Age']
adata.obs['Sex'] = temp['Sex']

In [27]:
adata_dec_20 = adata

## Combine adatas

In [42]:
adata_full = adata_oct.concatenate(
    [adata_nov, adata_dec_13, adata_dec_20]
)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1763: FutureWarning: The AnnData.concatenate method is deprecated in favour of the anndata.concat function. Please use anndata.concat instead.

See the tutorial for concat at: https://anndata.readthedocs.io/en/latest/concatenation.html
  warnings.warn(
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/merge.py:1015: FutureWarning: The default value of 'ignore' for the `na_action` parameter in pandas.Categorical.map is deprecated and will be changed to 'None' in a future version. Please set na_action to the desired value to avoid seeing this warning
  concat_indices = concat_indices.str.cat(label_col.map(str), sep=index_unique)

In [43]:
uns_dict.keys()

dict_keys(['0-Oct_2021', '1-Oct_2021', '2-Oct_2021', '3-Oct_2021', '4-Oct_2021', '5-Oct_2021', '6-Oct_2021', '7-Oct_2021', '0-Nov_24_2021', '1-Nov_24_2021', '2-Nov_24_2021', '3-Nov_24_2021', '4-Nov_24_2021', '5-Nov_24_2021', '6-Nov_24_2021', '7-Nov_24_2021', '8-Nov_24_2021', '9-Nov_24_2021', '10-Nov_24_2021', '11-Nov_24_2021', '12-Nov_24_2021', '13-Nov_24_2021', '14-Nov_24_2021', '15-Nov_24_2021', '0-Dec_13_2021', '1-Dec_13_2021', '2-Dec_13_2021', '3-Dec_13_2021', '4-Dec_13_2021', '5-Dec_13_2021', '6-Dec_13_2021', '7-Dec_13_2021', '0-Dec_20_2021', '1-Dec_20_2021', '2-Dec_20_2021', '3-Dec_20_2021', '4-Dec_20_2021', '5-Dec_20_2021', '6-Dec_20_2021'])

In [44]:
adata_full.obs.head()

,in_tissue,array_row,array_col,seqbatch,Sample,bc,Sample_i,batch,Diagnosis,Age,Sex
AAACAACGAATAGTTC-1-0-0,0,0,16,Oct_2021,1,AAACAACGAATAGTTC,0,0,Control,74,F
AAACAAGTATCTCCCA-1-0-0,1,50,102,Oct_2021,1,AAACAAGTATCTCCCA,0,0,Control,74,F
AAACAATCTACTAGCA-1-0-0,1,3,43,Oct_2021,1,AAACAATCTACTAGCA,0,0,Control,74,F
AAACACCAATAACTGC-1-0-0,0,59,19,Oct_2021,1,AAACACCAATAACTGC,0,0,Control,74,F
AAACAGAGCGACTCCT-1-0-0,1,14,94,Oct_2021,1,AAACAGAGCGACTCCT,0,0,Control,74,F

Next we make a new barcode with bc + Sample + batch in order to match the two datasets

In [45]:
# combine the bc + SAMPLE + seqbatch
#adata_full.obs.Sample = adata_full.obs.Sample.astype(float).astype(int).astype(str)

adata_full.obs.Sample = adata_full.obs.seqbatch + '_' + adata_full.obs.Sample

adata_full.obs['bc_sample_batch'] = adata_full.obs[['bc', 'Sample']].agg('-'.join, axis=1)

# make it the index
adata_full.obs.index = adata_full.obs.bc_sample_batch.to_list()

In [46]:
adata_full.obs.head()

,in_tissue,array_row,array_col,seqbatch,Sample,bc,Sample_i,batch,Diagnosis,Age,Sex,bc_sample_batch
AAACAACGAATAGTTC-Oct_2021_1,0,0,16,Oct_2021,Oct_2021_1,AAACAACGAATAGTTC,0,0,Control,74,F,AAACAACGAATAGTTC-Oct_2021_1
AAACAAGTATCTCCCA-Oct_2021_1,1,50,102,Oct_2021,Oct_2021_1,AAACAAGTATCTCCCA,0,0,Control,74,F,AAACAAGTATCTCCCA-Oct_2021_1
AAACAATCTACTAGCA-Oct_2021_1,1,3,43,Oct_2021,Oct_2021_1,AAACAATCTACTAGCA,0,0,Control,74,F,AAACAATCTACTAGCA-Oct_2021_1
AAACACCAATAACTGC-Oct_2021_1,0,59,19,Oct_2021,Oct_2021_1,AAACACCAATAACTGC,0,0,Control,74,F,AAACACCAATAACTGC-Oct_2021_1
AAACAGAGCGACTCCT-Oct_2021_1,1,14,94,Oct_2021,Oct_2021_1,AAACAGAGCGACTCCT,0,0,Control,74,F,AAACAGAGCGACTCCT-Oct_2021_1

## Load the previous dataset

In [35]:
# load dataset
h5ad_file="/dfs7/swaruplab/smorabit/analysis/ADDS_2021/visium/human/data/ADDS_visium_scDRS.h5ad"
adata_seurat = sc.read(h5ad_file)
adata_seurat.obs.head()

,nCount_Spatial,Sample,Diagnosis,Sex,Age,seqbatch,annotation
AAACAAGTATCTCCCA-1_1_1,547,Oct_2021_1,Control,F,74,Oct_2021,WM3
AAACAATCTACTAGCA-1_1_1,242,Oct_2021_1,Control,F,74,Oct_2021,L1
AAACAGAGCGACTCCT-1_1_1,1602,Oct_2021_1,Control,F,74,Oct_2021,WM3
AAACATTTCCCGGATT-1_1_1,1025,Oct_2021_1,Control,F,74,Oct_2021,L5/6
AAACCACTACACAGAT-1_1_1,283,Oct_2021_1,Control,F,74,Oct_2021,L1

In [36]:
# add a barcode column
adata_seurat.obs['bc'] = [x.split('-')[0] for x in adata_seurat.obs.index.to_list()]

In [37]:
# combine the bc + SAMPLE + seqbatch
#adata_seurat.obs.SAMPLE = adata_seurat.obs.SAMPLE.astype(str)
adata_seurat.obs['bc_sample_batch'] = adata_seurat.obs[['bc', 'Sample']].agg('-'.join, axis=1)

# make it the index
adata_seurat.obs.index = adata_seurat.obs.bc_sample_batch.to_list()

In [38]:
adata_seurat.obs.head()

,nCount_Spatial,Sample,Diagnosis,Sex,Age,seqbatch,annotation,bc,bc_sample_batch
AAACAAGTATCTCCCA-Oct_2021_1,547,Oct_2021_1,Control,F,74,Oct_2021,WM3,AAACAAGTATCTCCCA,AAACAAGTATCTCCCA-Oct_2021_1
AAACAATCTACTAGCA-Oct_2021_1,242,Oct_2021_1,Control,F,74,Oct_2021,L1,AAACAATCTACTAGCA,AAACAATCTACTAGCA-Oct_2021_1
AAACAGAGCGACTCCT-Oct_2021_1,1602,Oct_2021_1,Control,F,74,Oct_2021,WM3,AAACAGAGCGACTCCT,AAACAGAGCGACTCCT-Oct_2021_1
AAACATTTCCCGGATT-Oct_2021_1,1025,Oct_2021_1,Control,F,74,Oct_2021,L5/6,AAACATTTCCCGGATT,AAACATTTCCCGGATT-Oct_2021_1
AAACCACTACACAGAT-Oct_2021_1,283,Oct_2021_1,Control,F,74,Oct_2021,L1,AAACCACTACACAGAT,AAACCACTACACAGAT-Oct_2021_1

## Transfer info (clusters etc) from the processed to the new one

In [49]:
temp = adata_full.obs.merge(
    adata_seurat.obs,
    how = 'left',
    on = 'bc_sample_batch',
)
temp.head()

# transfer selected columns:
adata_full.obs['annotation'] = temp.annotation.to_list()

#temp.Age_x.isna()

# temp.index = adata.obs.index
# temp = temp.drop(labels='LibraryName', axis=1)
# temp.head() 

# adata.obs = temp

In [50]:
# # # subset with the other anndata index:
# adata_full = adata_full[adata_full.obs.index.isin(adata_seurat.obs.index)].copy()
# adata_full = adata_full[adata_seurat.obs.index].copy()

In [51]:
adata_seurat.obs.columns

Index(['nCount_Spatial', 'Sample', 'Diagnosis', 'Sex', 'Age', 'seqbatch',
       'annotation', 'bc', 'bc_sample_batch'],
      dtype='object')

In [52]:
# make the counts the raw
#adata_full.raw = adata_full
adata_full.layers['counts'] = adata_full.X.copy()

# normalize expression 
sc.pp.normalize_total(adata_full, target_sum=1e4)
sc.pp.log1p(adata_full)

normalizing counts per cell
    finished (0:00:01)

Now adding columns required by CxG

* organism_ontology_term_id
* tissue_ontology_term_id
* assay_ontology_term_id
* disease_ontology_term_id
* cell_type_ontology_term_id
* self_reported_ethnicity_ontology_term_id
* development_stage_ontology_term_id
* sex_ontology_term_id
* donor_id
* suspension_type

In [53]:
# species info (Human)
adata_full.obs['organism_ontology_term_id'] = 'NCBITaxon:9606'

In [54]:
# tissue info
adata_full.obs['tissue_ontology_term_id'] = 'UBERON:0000451'
adata_full.obs['tissue_type'] = 'tissue'

In [55]:
# assay info 
adata_full.obs['assay_ontology_term_id'] = 'EFO:0010961' 
adata_full.obs['suspension_type'] = 'na' # because visium

In [56]:
# disease ontology info 
dx = adata_full.obs['Diagnosis'].replace('Control', 'PATO:0000461')
dx = dx.replace('earlyAD', 'MONDO:0004975')
dx = dx.replace('AD', 'MONDO:0004975')
dx = dx.replace('AD_DS', 'MONDO:0008608')

adata_full.obs['disease_ontology_term_id'] = dx

In [57]:
# cell type info (not available because this is visium 
adata_full.obs['cell_type_ontology_term_id'] = 'CL:0002319'

In [58]:
# ethnicity
adata_full.obs['self_reported_ethnicity_ontology_term_id'] = 'HANCESTRO:0005'

In [59]:
# development stage
adata_full.obs['development_stage_ontology_term_id'] = 'HsapDv:0000258'

In [60]:
# sex info

# female:  PATO:0000383
# male:  PATO:0000384
sex = adata_full.obs['Sex'].replace('F', 'PATO:0000383')
sex = sex.replace('M', 'PATO:0000384')
adata_full.obs['sex_ontology_term_id'] = sex

In [61]:
adata_full.obs['donor_id'] = 'Miyoshi_Morabito_2024_Human_Visium_' + adata_full.obs['Sample']

### Only keep the columns that they ask for !!!

In [62]:
columns_keep = [
    'in_tissue',
    'array_row',
    'array_col',
    'organism_ontology_term_id',
    'tissue_ontology_term_id',
    'tissue_type',
    'assay_ontology_term_id',
    'disease_ontology_term_id',
    'cell_type_ontology_term_id',
    'self_reported_ethnicity_ontology_term_id',
    'development_stage_ontology_term_id',
    'sex_ontology_term_id',
    'donor_id',
    'suspension_type',
    'Sample_i',
    'Diagnosis',
    'Sex',
    'Age',
    'annotation'
]

In [63]:
adata_full.obs = adata_full.obs[columns_keep]

Set the var to the gene ids:

In [64]:
adata_full.var.index = adata_full.var['gene_ids'].to_list()

In [65]:
adata_full.obs.head()

,in_tissue,array_row,array_col,organism_ontology_term_id,tissue_ontology_term_id,tissue_type,assay_ontology_term_id,disease_ontology_term_id,cell_type_ontology_term_id,self_reported_ethnicity_ontology_term_id,development_stage_ontology_term_id,sex_ontology_term_id,donor_id,suspension_type,Sample_i,Diagnosis,Sex,Age,annotation
AAACAACGAATAGTTC-Oct_2021_1,0,0,16,NCBITaxon:9606,UBERON:0000451,tissue,EFO:0010961,PATO:0000461,CL:0002319,HANCESTRO:0005,HsapDv:0000258,PATO:0000383,Miyoshi_Morabito_2024_Human_Visium_Oct_2021_1,na,0,Control,F,74,NaN
AAACAAGTATCTCCCA-Oct_2021_1,1,50,102,NCBITaxon:9606,UBERON:0000451,tissue,EFO:0010961,PATO:0000461,CL:0002319,HANCESTRO:0005,HsapDv:0000258,PATO:0000383,Miyoshi_Morabito_2024_Human_Visium_Oct_2021_1,na,0,Control,F,74,WM3
AAACAATCTACTAGCA-Oct_2021_1,1,3,43,NCBITaxon:9606,UBERON:0000451,tissue,EFO:0010961,PATO:0000461,CL:0002319,HANCESTRO:0005,HsapDv:0000258,PATO:0000383,Miyoshi_Morabito_2024_Human_Visium_Oct_2021_1,na,0,Control,F,74,L1
AAACACCAATAACTGC-Oct_2021_1,0,59,19,NCBITaxon:9606,UBERON:0000451,tissue,EFO:0010961,PATO:0000461,CL:0002319,HANCESTRO:0005,HsapDv:0000258,PATO:0000383,Miyoshi_Morabito_2024_Human_Visium_Oct_2021_1,na,0,Control,F,74,NaN
AAACAGAGCGACTCCT-Oct_2021_1,1,14,94,NCBITaxon:9606,UBERON:0000451,tissue,EFO:0010961,PATO:0000461,CL:0002319,HANCESTRO:0005,HsapDv:0000258,PATO:0000383,Miyoshi_Morabito_2024_Human_Visium_Oct_2021_1,na,0,Control,F,74,WM3

## Save h5ad file for each sample:

In [66]:
out_dir = '/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/'

In [67]:
uns_dict.keys()

dict_keys(['0-Oct_2021', '1-Oct_2021', '2-Oct_2021', '3-Oct_2021', '4-Oct_2021', '5-Oct_2021', '6-Oct_2021', '7-Oct_2021', '0-Nov_24_2021', '1-Nov_24_2021', '2-Nov_24_2021', '3-Nov_24_2021', '4-Nov_24_2021', '5-Nov_24_2021', '6-Nov_24_2021', '7-Nov_24_2021', '8-Nov_24_2021', '9-Nov_24_2021', '10-Nov_24_2021', '11-Nov_24_2021', '12-Nov_24_2021', '13-Nov_24_2021', '14-Nov_24_2021', '15-Nov_24_2021', '0-Dec_13_2021', '1-Dec_13_2021', '2-Dec_13_2021', '3-Dec_13_2021', '4-Dec_13_2021', '5-Dec_13_2021', '6-Dec_13_2021', '7-Dec_13_2021', '0-Dec_20_2021', '1-Dec_20_2021', '2-Dec_20_2021', '3-Dec_20_2021', '4-Dec_20_2021', '5-Dec_20_2021', '6-Dec_20_2021'])

In [73]:
donor_ids = adata_full.obs['donor_id'].unique()
#cur_donor = donor_ids[1]

for cur_donor in donor_ids:
    
    cur_adata = adata_full[adata_full.obs.donor_id == cur_donor].copy()
    
    # add the correct uns 
    tmp = cur_adata.obs.index.to_list()[0].split('-')
    tmp = tmp[1].split('_')
    
    if 'Oct' in tmp:
        tmp = tmp[0] + '_' + tmp[1]
    else:
        tmp = tmp[0] + '_' + tmp[1] + '_' + tmp[2]
    
    
    cur_num = str(cur_adata.obs.Sample_i.unique()[0])
    
    cur_id = cur_num + '-' + tmp
    
    cur_uns = uns_dict[cur_id]
    cur_uns['title'] = cur_id
    cur_adata.uns = cur_uns

    # drop the Sample_i column 
    cur_adata.obs  = cur_adata.obs.drop(labels='Sample_i', axis=1)
    
    # save the output file:
    out_file = out_dir + 'visium_human_' + cur_id + '.h5ad'
    print(out_file)
    cur_adata.write_h5ad(out_file, compression='gzip')

/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_0-Oct_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_1-Oct_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_2-Oct_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_3-Oct_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_4-Oct_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_5-Oct_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_6-Oct_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_7-Oct_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_0-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_1-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_2-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_3-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_4-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_5-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_6-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_7-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_8-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_9-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_10-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_11-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_12-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_13-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_14-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_15-Nov_24_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_0-Dec_13_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_1-Dec_13_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_2-Dec_13_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_3-Dec_13_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_4-Dec_13_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_5-Dec_13_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_6-Dec_13_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_7-Dec_13_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_0-Dec_20_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_1-Dec_20_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_2-Dec_20_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_3-Dec_20_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_4-Dec_20_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_5-Dec_20_2021.h5ad
/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/visium_human/visium_human_6-Dec_20_2021.h5ad

In [74]:
adata_full.obs.Age.value_counts()

Age
90    49920
87    14976
89    14976
79    14976
80     9984
56     9984
74     9984
86     9984
47     4992
66     4992
43     4992
55     4992
83     4992
64     4992
57     4992
70     4992
62     4992
63     4992
73     4992
58     4992
Name: count, dtype: int64

In [71]:
print(cur_adata.layers['counts'][:50, :50])

  (3, 44)	1.0
  (5, 24)	2.0
  (5, 32)	1.0
  (7, 24)	1.0
  (7, 32)	1.0
  (12, 16)	1.0
  (13, 44)	1.0
  (14, 36)	1.0
  (15, 44)	2.0
  (16, 24)	1.0
  (16, 25)	1.0
  (16, 32)	1.0
  (19, 30)	2.0
  (19, 45)	1.0
  (25, 44)	1.0
  (26, 28)	1.0
  (26, 29)	1.0
  (27, 24)	1.0
  (27, 32)	1.0
  (28, 24)	1.0
  (29, 30)	1.0
  (29, 44)	1.0
  (31, 45)	1.0
  (33, 44)	1.0
  (34, 30)	1.0
  (35, 45)	1.0
  (37, 44)	1.0
  (39, 29)	1.0
  (41, 24)	1.0
  (43, 24)	1.0
  (46, 44)	1.0
  (47, 24)	1.0
  (48, 45)	1.0
  (49, 30)	2.0

## Human snRNA-seq

In [323]:
adata_snRNA = sc.read('/dfs7/swaruplab/smorabit/analysis/ADDS_2021/splitseq/integration/scDRS/data/ADDS_scDRS.h5ad')
adata_snRNA.obs.head()

,cell_barcode,species,rnd1_well,rnd2_well,rnd3_well,umi_count,umi_count_50dup,gene_count,Sublibrary,Batch,...,UMAP_1,UMAP_2,leiden,log_counts,leiden_full,UMAP_full_1,UMAP_full_2,cell_type,annotation,subtype
AGTGGTCATGGAACAA_9-0-0,AGTGGTCATGGAACAA_9,hg38,9,64,3,50168,48576.830705,8902,Sublibrary1_S1,Batch1,...,1.885365,10.731432,0,15.606463,16,9.865245,13.277141,EX,EX1,EX L2-3
ACATTGGCACGCTCGA_20-0-0,ACATTGGCACGCTCGA_20,hg38,20,20,5,50080,48491.621784,8391,Sublibrary1_S1,Batch1,...,1.302990,10.347502,0,15.603684,16,9.240021,13.650092,EX,EX1,EX L2-3
GATGAATCTCTTCACA_21-0-0,GATGAATCTCTTCACA_21,hg38,21,62,94,49718,48141.103272,8019,Sublibrary1_S1,Batch1,...,-2.406851,6.873954,23,15.593741,31,12.402791,9.055484,EX,EX12,EX L3-5
AAGAGATCAGCAGGAA_2-0-0,AAGAGATCAGCAGGAA_2,hg38,2,25,69,49713,48136.261856,8629,Sublibrary1_S1,Batch1,...,14.689492,10.692253,10,15.594033,20,9.625359,5.255204,INH,INH3,INH SST+
GACTAGTAGTACGCAA_14-0-0,GACTAGTAGTACGCAA_14,hg38,14,55,30,49494,47924.207839,8447,Sublibrary1_S1,Batch1,...,5.888000,12.249705,2,15.587132,4,13.846423,16.047785,EX,EX2,EX L2

In [324]:
# normalize the gene expression
adata_snRNA.raw = adata_snRNA

# normalize expression 
sc.pp.normalize_total(adata_snRNA, target_sum=1e4)
sc.pp.log1p(adata_snRNA)

normalizing counts per cell
    finished (0:00:03)

In [325]:
adata_snRNA.uns['title'] = 'ADDS & Control snRNA-seq'

In [326]:
# species info (Human)
adata_snRNA.obs['organism_ontology_term_id'] = 'NCBITaxon:9606'

In [327]:

# tissue 
tissue = adata_snRNA.obs['Region'].replace('PCC', 'UBERON:0022353')
tissue = tissue.replace('FCX', 'UBERON:0000451')
adata_snRNA.obs['tissue_ontology_term_id'] = tissue
adata_snRNA.obs['tissue_type'] = 'tissue'

/tmp/smorabit/30802954/ipykernel_2732136/1197739976.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  tissue = adata_snRNA.obs['Region'].replace('PCC', 'UBERON:0022353')
/tmp/smorabit/30802954/ipykernel_2732136/1197739976.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  tissue = tissue.replace('FCX', 'UBERON:0000451')

In [328]:

# assay info 
adata_snRNA.obs['assay_ontology_term_id'] = 'EFO:0008913' 
adata_snRNA.obs['suspension_type'] = 'nucelus'

In [329]:

# disease ontology info 
dx = adata_snRNA.obs['DX'].replace('Control', 'PATO:0000461')
dx = dx.replace('DSAD', 'MONDO:0008608')
adata_snRNA.obs['disease_ontology_term_id'] = dx

/tmp/smorabit/30802954/ipykernel_2732136/84904168.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dx = adata_snRNA.obs['DX'].replace('Control', 'PATO:0000461')
/tmp/smorabit/30802954/ipykernel_2732136/84904168.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dx = dx.replace('DSAD', 'MONDO:0008608')

In [330]:
# ethnicity
adata_snRNA.obs['self_reported_ethnicity_ontology_term_id'] = 'HANCESTRO:0005'

# development stage
adata_snRNA.obs['development_stage_ontology_term_id'] = 'HsapDv:0000258'

In [331]:
# female:  PATO:0000383
# male:  PATO:0000384
sex = adata_snRNA.obs['Sex'].replace('F', 'PATO:0000383')
sex = sex.replace('M', 'PATO:0000384')
adata_snRNA.obs['sex_ontology_term_id'] = sex

/tmp/smorabit/30802954/ipykernel_2732136/4097831059.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  sex = adata_snRNA.obs['Sex'].replace('F', 'PATO:0000383')
/tmp/smorabit/30802954/ipykernel_2732136/4097831059.py:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  sex = sex.replace('M', 'PATO:0000384')

In [332]:
adata_snRNA.obs['donor_id'] = 'Miyoshi_Morabito_2024_Human_snRNA_' + adata_snRNA.obs['SampleID'].astype(str)

In [333]:
adata_snRNA.obs.cell_type.unique()

['EX', 'INH', 'OPC', 'PER', 'ASC', 'ODC', 'FBR', 'MG', 'END', 'SMC']
Categories (10, object): ['ASC', 'END', 'EX', 'FBR', ..., 'ODC', 'OPC', 'PER', 'SMC']

In [334]:
ct = adata_snRNA.obs['cell_type'].replace('ODC', 'CL:0000128')
ct = ct.replace('OPC', 'CL:0002453')
ct = ct.replace('EX', 'CL:0000679')
ct = ct.replace('INH', 'CL:0000617')
ct = ct.replace('MG', 'CL:0000129')
ct = ct.replace('ASC', 'CL:0000127')
ct = ct.replace('PER', 'CL:0000669')
ct = ct.replace('FBR', 'CL:0000057')
ct = ct.replace('SMC', 'CL:0000192')
ct = ct.replace('END', 'CL:0000115')

adata_snRNA.obs['cell_type_ontology_term_id'] = ct

/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = adata_snRNA.obs['cell_type'].replace('ODC', 'CL:0000128')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('OPC', 'CL:0002453')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('EX', 'CL:0000679')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('INH', 'CL:0000617')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:5: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('MG', 'CL:0000129')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:6: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('ASC', 'CL:0000127')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:7: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('PER', 'CL:0000669')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('FBR', 'CL:0000057')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:9: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('SMC', 'CL:0000192')
/tmp/smorabit/30802954/ipykernel_2732136/473035050.py:10: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  ct = ct.replace('END', 'CL:0000115')

In [338]:
columns_keep = [
    'organism_ontology_term_id',
    'tissue_ontology_term_id',
    'tissue_type',
    'assay_ontology_term_id',
    'disease_ontology_term_id',
    'cell_type_ontology_term_id',
    'self_reported_ethnicity_ontology_term_id',
    'development_stage_ontology_term_id',
    'sex_ontology_term_id',
    'donor_id',
    'suspension_type',
    'annotation',
    'DX',
    'Sex',
    'Age'
]

In [339]:
adata_snRNA.obs = adata_snRNA.obs[columns_keep]

In [340]:
adata_snRNA.var.index = adata_snRNA.var['ensembl_id-0-0'].to_list()

In [341]:
out_file = '/dfs7/swaruplab/smorabit/analysis/ADDS_2021/data/cellxgene/snRNA_human.h5ad'
adata_snRNA.write_h5ad(out_file)

/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1230: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key] = c
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1230: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key] = c
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1230: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key] = c
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1230: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key] = c
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1230: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key] = c
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1230: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key] = c
/pub/smorabit/miniconda3/envs/scanpy/lib/python3.11/site-packages/anndata/_core/anndata.py:1230: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[key] = c